.navbar {
  background: #1d3557;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}
.logo span {
  color: #4caf50;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li a {
  color: white;
  text-decoration: none;
}